
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta property="qc:admins" content="23635710066417756375" />
    <meta name="baidu-site-verification" content="QIQ6KC1oZ6" />
    <meta charset="UTF-8">


    <meta content="拉勾，自由职业，soho，Freelancer,威客，兼职，外包，开发项目，设计项目，市场项目，运营项目，产品设计项目，找开发，找设计，找市场/运营，平面设计,UI设计,插画,logo设计,VI设计,图标设计, 海报,网页设计,app设计,包装设计，前端开发，微信开发，H5开发，后端开发，APP开发，Web网站开发，活动策划，市场推广，品牌建设，SEO，新媒体运营，活动运营，内容运营，内容编辑 ，文案策划，记者，产品经理" name="keywords">
    <meta content="拉勾自由职业者平台，为你的项目精准对接最棒的最有契约精神的行业专家，目前开放的领域有开发、设计、市场/运营、产品。我们会为你全程提供专业化、个性化的服务和监管，以让优秀专家和优质项目顺利合作为己任。我们致力于打造一个自由职业者的自由联盟平台，让专业的人都有勇气改变他们的工作和生活，轻松享受自由的工作方式。" name="description">
    <meta name="viewport" content="width=device-width" />

    <title>登录</title>


    <!-- H5	 -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginCss/css/dmaku2.css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>


</head>
<body>

    <header id="header">
        <a href="javascript:;" class="logo"></a>
        <i class="icons">beta</i>
    </header><!-- /header -->
    <!-- 页面主体START -->
    <section id="main">
        <h1>登录</h1>
        <form action="javascript:;" accept-charset="utf-8" data-view="loginView">

            <div class="clearfix" data-propertyname="username" data-controltype="Phone">
                <input type="text" placeholder="输入帐号" id="user_name" name="" placeholder="" data-required="required" autocomplete="off">
            </div>

            <div class="clearfix" data-propertyname="password" data-controltype="Password">
                <input type="password" id="" name="" placeholder="输入密码" data-required="required" autocomplete="off">
            </div>

            <div class="verifyCodeInput clearfix" data-propertyname="request_form_verifyCode" data-controltype="VerifyCode" style="display:none;">
                <div class="code_cont">
                    <input type="text" name="" placeholder="请证明你不是机器人" data-required="required" autocomplete="off">
                    <img src="" alt="" class="yzm">
                    <a href="javascript:;" class="reflash"></a>
                </div>
            </div>

            <div class="clearfix">
                <!-- <label>
                    <input type="checkbox" class="autologin" />
                    自动登录
                </label> -->
                <a href="javascript:;" class="forgot_pwd">忘记密码？</a>
            </div>

            <div class="clearfix btn_login" data-propertyname="submit" data-controltype="Botton">
                <input type="submit" value="登录">
            </div>

            <div class="clearfix goregister">
                <span class="reg_now">没有帐号？</span>
                <a href="javascript:;">注册</a>
            </div>

            <input type="hidden" value="" id="isVisiable_request_form_verifyCode" />

        </form>
    </section>
    <!-- 页面主体END -->

    <footer id="footer">

        <div>客服热线：010-56397158转8137 <span>（周一至周五10:00-19:00）</span> </div>
        <p>Copyright ? 2016 </p>
    </footer><!-- jquery lib -->
    <!--拉勾UI框架 -->
</body>
</html>

